html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

#dino_canvas {
    height: 720px;
    background: black;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 4px #888);
}
