html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #eee;
    display: flex;
}

#inspector {
    padding: 3px;
    background: #e0e0e0;
    border-right: 1px solid #ccc;
    flex: 0 0 450px;

    overflow-y: scroll;
    min-height: 0;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: min-content;

    gap: 3px 0;

    /*

    grid-auto-flow:dense;
    align-items:start;
*/
}

.separator {
    height: 1px;
    background: #999;
    grid-column: span 2;
    margin: 3px;
}

.inspector_hflex {
    display: flex;
    gap: 3px;
}

.inspector_hflex > input {
    min-width: 0;
}

.center_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#dino_canvas {
    height: 720px;
    background: black;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 4px #888);
}
